@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
$turkey-red: #b51412;
$turkey-gold: #c9a823;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$primary: $turkey-red;
$primary-tint: $turkey-red;
$secondary: $turkey-gold;
$secondary-tint: $turkey-gold;

.field-validation-error {
    display: none;
}

.header, nav, footer {
    display: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary;
}

html {
    background-color: $white;
}

.primary-hover:hover {
    background-color: $primary;
    color: $white !important;
}

.primary-hover:hover h4,
.primary-hover:hover p {
    color: $white !important;
}

.secondary-hover:hover {
    background-color: $secondary;
    color: $white !important;
}

.secondary-hover:hover h4,
.secondary-hover:hover p {
    color: $white !important;
}

a:hover{
    text-decoration: none;
}

input.location::-webkit-input-placeholder {
    color: $blue-light !important;
    font-style: italic;
}

input.location::-moz-placeholder {
    color: $blue-light !important;
    font-style: italic;
}

input.location::placeholder {
    color: $blue-light !important;
    font-style: italic;
}

.validation-error::-webkit-input-placeholder {
    color: red;
}

select.text-danger option {
    color: $black !important;
}

select.text-danger option:first-of-type {
    color: $grey-dark !important;
}