.badge {
    font-size: 1em;
    padding: .3em .4em;
    text-transform: uppercase;
    font-weight: $font-weight-base;
}

.exclusive {
    background-color: $member-exclusive-badge-background;
}

.restrictor {
    background: none !important;
    padding-top: 0;
    margin-top: 0;

    & hr {
        width: 20%;
        margin: 2.5rem auto;
    }
}